.right {
  background-image: url("../../assets/home/elipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.home-products {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.36))
    drop-shadow(
      -28.84719467163086px 24.948925018310547px 84.20262145996094px rgba(0, 0, 0, 0.35)
    )
    drop-shadow(
      -113.82947540283203px 101.35501098632812px 152.81216430664062px rgba(0, 0, 0, 0.3)
    )
    drop-shadow(
      -257.2857971191406px 227.65895080566406px 205.82862854003906px rgba(0, 0, 0, 0.18)
    )
    drop-shadow(
      -456.877197265625px 403.8607177734375px 244.0316925048828px rgba(0, 0, 0, 0.05)
    )
    drop-shadow(
      -713.38330078125px 631.5197143554688px 266.6416320800781px rgba(0, 0, 0, 0.01)
    );
}