.toastRed {
  background-color: red;
  color: #fff;
}

.Toastify__toast-body > div:last-child {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Inter";
  font-size: 1em;
  font-weight: 800;
}
